#content {
    float: left;
    min-height: 76%;
    padding: 5px;
    width: 1090px;
}

#content h1 {
    font-size: 24px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: 5px;
}

#content h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 10px;
    font-weight: 400;
}

#content .item-container {
    margin-bottom: 20px;
}

#content .item-container a.item_card {
    border: 1px solid #34302d;
    display: inline-block;
    width: 200px;
    height: 250px;
    /*margin: 0 8px 20px;*/
    margin: 0 5px 20px;
    vertical-align: top;
    text-align: center;
    /*padding: 25px;*/
    color: #34302d;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}

#content .item-container a.item_card:hover {
    text-decoration: none;
    box-shadow: 0 0 3px #6db33f;
    border-color: #6db33f;
}

#content .item-container a.item_card .item-logo {
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-bottom: 5px;
}

#content .item-container a.item_card .item-title {
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}

#content .item-container a.item_card .item-title .item-title-folder,
#content .item-container a.item_card .item-title .item-title-item {
    width: 190px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 5px;
}

#content .item-container a.item_card .label {
    /*position: absolute;*/
    margin: -54px 0 0 -5px;
    z-index: 100;
    width: 0;
    height: 0;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 40px solid #6db33f;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
}

#content p.no_card {
    color: #cccccc;
    padding: 5px 5px 5px 15px;
    font-size: 25px;
}

#content img.logo {
    float: left;
    margin: 0 10px 10px 0;
    max-width: 300px;
    max-height: 300px;
    height: auto;
    width: auto;
}

#content p {
    color: #34302d;
    margin-bottom: 15px;
    text-align: justify;
    font-size: 15px;
}

form {
    width: 75%;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

input[type=text],
textarea {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

textarea {
    height: 250px;
}

.toolbar {
    width: 100%;
}

.toolbar .tool-item {
    display: inline-block;
    padding: 5px;
    color: #5d5d5d;
    position: relative;
    font-size: 24px;
}

.toolbar .tool-item.open {
    background: #5d5d5d;
}

.toolbar .tool-item i.glyphicon {
    color: #5d5d5d;
    margin: 0 5px 0 5px;
}

.toolbar .tool-item.open i.glyphicon,
.toolbar .tool-item.current i.glyphicon {
    color: #6db33f;
}

.toolbar .tool-item.right {
    float: right;
}

