#login_form, #register_form {
    width: 320px;
    padding: 8% 0 0;
    margin: auto;
}

#login_form form, #register_form form {
    margin-top: 20px;
    margin-left: 0;
    padding: 26px 24px 46px;
    font-weight: 400;
    overflow: hidden;
    background: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .13);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .13);
}

#register_form {
    padding: 3% 0 0;
}