* {
    margin: 0;
    padding: 0;
    font-family: "Varela Round",sans-serif;
}

body, h1, h2, h3, input, p {
    margin: 0;
    font-weight: 400;

    color: #34302d;
}

body {
    width: 100%;
    background: #f1f1f1;
    color: #34302d;
}

a {
    color: #3c763d;
    text-decoration: none;
    transition: color 300ms ease-out;
}

a:hover {
    color: #6db33f;
}

.container {
    width: 1366px;
    margin: 0 auto;
    overflow: inherit;
}

#header {
    width: 100%;
}

#header .right_content {
    float: right;
}

#header #top_header {
    padding: 5px 0 0 10px;
    background: #34302d;
    height: 50px;
}

#header #top_header .user_menu {
    position: relative;
}

#header #top_header .user_menu p {
    width: auto;
    padding: 15px 10px 5px 10px;
    display: block;
    color: #CCCCCC;
    height: 30px;
    cursor: pointer;
    transition: background 100ms ease-out;

}

#header #top_header .user_menu:hover:hover p {
    background: #5d5d5d;
    color: #6db33f;
}

#header #top_header .user_menu ul.sub_menu {
    position: absolute;
    z-index: 10;
    padding: 0;
    margin: 0;
    right: 0;
    min-width: 100%;
    background: #5d5d5d;
    -webkit-box-shadow: 0 3px 5px rgba(0,0,0,.2);
    box-shadow: 0 3px 5px rgba(0,0,0,.2);
    visibility:hidden;
    transition:visibility 0s linear 0.2s,opacity 0.2s linear;
    opacity:0;
    border: 1px solid #5d5d5d;
}

#header #top_header .user_menu:hover ul.sub_menu {
    visibility:visible;
    opacity:1;
    transition-delay:0s;
}

#header #top_header .user_menu ul.sub_menu li {
    list-style: none;
}

#header #top_header .user_menu ul.sub_menu li a {
    padding: 10px 15px 10px 25px;
    display: block;
    color: #CCCCCC;
    text-decoration: none;
}

#header #top_header .user_menu ul.sub_menu li a:hover {
    color: #6db33f;
}

#header #bottom_header {
    padding: 5px 0 0 10px;
    background: #6db33f;
}

#header #bottom_header .category_menu ul {
    padding: 0;
    margin: 0;
}

#header #bottom_header .category_menu ul li {
    list-style: none;
    display: inline-block;
}

#header #bottom_header .category_menu ul li a {
    padding: 5px 15px;
    display: block;
    color: #34302d;
    font-weight: bold;
    text-decoration: none;
}

#header #bottom_header .category_menu ul li a.current {
    color: #6db33f;
    background: #34302d;
    /*opacity: 0.7;*/
}

#header .header_separator {
    padding: 2px;
    background: #34302d;
}

ul.dropdown-menu .divider,
#header .sub_menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #34302d;
}

.form-group {
    margin-bottom: 15px;
    position: relative;
}

/* BUTTON */
input[type=submit] {
    text-transform: uppercase;
    background-color: #6db33f;
    color: #eeeeee;
    font-size: 12px;
    padding: 9px 16px;
    cursor: pointer;
    box-shadow: none;
    border: none;
    transition: background-color 300ms ease-out;
    margin: 10px 0px;
}

input[type=submit]:hover {
    background: #79cc42;
}

input[type=submit].left {
    float: left;
}

input[type=submit].right {
    float: right;
}

/* INPUT */
input[type=text], input[type=password] {
    color: #34302d;
    font-size: 16px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    transition: box-shadow 300ms ease-out;
    margin: 5px 0;
    box-shadow: none;
    outline: none;
    display: block;
    width: 100%;
}

input[type=text]:focus, input[type=password]:focus,
textarea:focus {
    box-shadow: inset 0 0 2px #6db33f;
}

.error_input_message {
    color: firebrick;
    font-size: 12px;
    float: right;
    display: block;
}

/* LABEL */
label {
    color: #5d5d5d;
    display: block;
    margin: 10px 0 5px 0;

}

label.required:after {
    content: '*';
    color: firebrick;
    margin-left: 7px;
}

/* CHECKBOX */
input[type=checkbox].css-checkbox {
    position:absolute;
    z-index:-1000;
    left:-1000px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height:1px;
    width:1px;
    margin:-1px;
    padding:0;
    border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
    padding-left:25px;
    height:18px;
    display:inline-block;
    line-height:18px;
    background-repeat:no-repeat;
    background-position: 0 0;
    vertical-align:middle;
    cursor:pointer;

}

input[type=checkbox].css-checkbox:checked + label.css-label {
    background-position: 0 -18px;
}

label.css-label {
    background-image:url(../images/checkbox.png);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* MESSAGES */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.alert .glyphicon {
    margin: 0 15px 0 25px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-success .glyphicon {
    color: #3c763d;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #f2dede;
}

.alert-danger .glyphicon {
    color: #a94442;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-info .glyphicon {
    color: #31708f;
}

#sidebar {
    float: left;
    min-height: 76%;
    width: 266px;
    padding-top: 5px;
}


/* tree */
.jstree-default .jstree-clicked {
    background: #beffcc;
}

.jstree-default .jstree-hovered {
    background: #eef9e7;
}

.jstree-default .jstree-anchor {
    text-overflow: ellipsis;
    width: 170px;
    white-space: nowrap;
    overflow: hidden;
}

.separator {
    clear: both;
}

#main_content:before,
#main_content:after,
#footer:before,
#footer:after{
    display: table;
    content: " ";
}

#main_content:after,
#footer:after {
    clear: both;
}

#footer {
    background-color: #34302d;
    padding: 30px 0;
    border-top: 2px solid #5d5d5d;
}

#footer p {
    font-size: 14px;
    color: #eee;
}

/**
 * Bootstrap DropDown +
 */
.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    font-size: 14px;
    list-style: none;
    background-color: #5d5d5d;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.dropdown-menu li a {
    padding: 10px 15px 10px 15px;
    display: block;
    color: #CCCCCC;
    text-decoration: none;
    white-space: nowrap;
    transition: all 300ms ease-out;
}

.dropdown-menu li a .glyphicon {
    padding: 0 10px 0 0;
    color: #CCCCCC;
    transition: all 300ms ease-out;
}

.dropdown-menu li a:hover {
    color: #6db33f;
    background: #34302d;
}

.dropdown-menu li a:hover .glyphicon {
    color: #6db33f;
}

.open>.dropdown-menu {
    display: block;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    white-space: nowrap;
    position: absolute;
    right: 1px;
    bottom: 1px;

}

.label-danger {
    background-color: #d9534f;
}